<head>
    <title>
        Image Pair Annotator App
    </title>
    {{!-- Link the common css files --}}
    <link href="css/style.css" rel="stylesheet">
    <link href="css/materialize.min.css" rel="stylesheet">
    <script src="js/materialize.min.js" type="text/javascript"></script>
</head>