<!DOCTYPE html>
<html>
    {{>header}}
    {{!-- Linking the page specific css file --}}
    <link href="css/annotation.css" rel="stylesheet">
    {{!-- Body Content --}}
    <body>
        <div class="navbar-fixed">
            <nav class="blue accent-3">
                <div class="nav-wrapper">
                    <span class="brand-logo center">Image Pair Annotator</span>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="/"><i class="material-icons">home</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s8">
                    <h4>Annotation for TIFF {{tiffName}}</h4>
                </div>
                <div class="col s4">
                    <br>
                    <a id="download-labels" class="bottom waves-effect waves-light btn blue accent-3" href="{{tiffName}}/labels" target="_blank">
                        <i class="material-icons left">cloud_download</i> Download latest labels
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <div id="selection-box" class="card green darken-1">
                        <div class="card-content white-text">
                            <p id="selection-info" class="card-title">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s9">
                    <div id="img-details">
                        <p class="left">Pair Number: <strong id="pair-number"></strong></p>
                        <p class="right" id="remainder-info"></p>
                        <br>
                        <div class="progress">
                            <div id="progress-bar" class="determinate blue accent-3" style="width: 0%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s2 image-togglers">
                    <br><br><br><br><br>
                    <button class="left btn-floating btn-large waves-effect waves-light blue accent-3" id="prev-btn">
                        <i class="material-icons">keyboard_arrow_left</i>
                    </button>
                </div>
                <div class="col s4 center-align">
                    <span class="center">PRE</span>
                    <div id="pre-img-box" >
                    </div>
                </div>
                <div class="col s4 center-align">
                    <span class="center">POST</span>
                    <div id="post-img-box" >                    
                    </div>
                </div>
                <div class="col s2 image-togglers ">
                    <br><br><br><br><br>
                    <button class="right btn-floating btn-large waves-effect waves-light right blue accent-3" id="next-btn">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div id="class-selector" class="col s6 offset-s3">
                    <form class="form center" id="class-selector-form" enctype="multipart/form-data">
                        <label>
                            <input name="Class" type="radio" value="0" />
                            <span>Not Flooded</span>
                        </label>
                        <label>
                            <input name="Class" type="radio" value="1" />
                            <span>Flooded</span>
                        </label>
                        <label>
                            <input name="Class" type="radio" value="2" />
                            <span>Indecisive</span>
                        </label>
                    </form>
                </div>            
            </div>
        </div>

    </body>

    <script>
        let displayPairNumber;
        let imagePairs;
        
        let body = document.querySelector('body');
        let prevBtn = document.getElementById('prev-btn');
        let nextBtn = document.getElementById('next-btn');
        let preimgBox = document.getElementById('pre-img-box');
        let postimgBox = document.getElementById('post-img-box');
        let form = document.getElementById('class-selector-form');
        let pairNumInfo = document.getElementById('pair-number');
        let selectionInfo = document.getElementById('selection-info');
        let selectionBox = document.getElementById('selection-box');
        let remainderInfo = document.getElementById('remainder-info');
        let progressBar = document.getElementById('progress-bar');
        let downloadBtn = document.getElementById('download-labels');

        let tiffName = "{{tiffName}}";

        //tiff class update function
        updateClass = (displayNumber) => {
            //TODO- Also update the 'class' and 'classified' attribute in imagePairs array element.
            currentData = new FormData(form);
            currentdisplayNumber = displayNumber    //so that the async function callback gets this as a parent scope
            if (currentData.get('Class') != null && currentData.get('Class') != imagePairs[displayNumber].class) {
                //send the XHR for update
                let updateReq = new XMLHttpRequest();
                updateReq.open('POST',`/${tiffName}/update`,false);
                updateReq.addEventListener('load', (ev) => {
                    //result obtained
                    if(!updateReq.responseText["err"]){
                        responseObj = JSON.parse(updateReq.responseText);
                        console.log(responseObj);
                        //update the imagePairs array element
                        imagePairs[currentdisplayNumber].class = responseObj.class;
                        imagePairs[currentdisplayNumber].classified = true
                    }
                    else {
                        console.log(updateReq.responseText);
                    }
                });
                updateReq.setRequestHeader('Content-Type','application/json');
                updateReq.send(JSON.stringify({
                    pairNumber:imagePairs[displayPairNumber].pairNumber,
                    selectedClass:currentData.get('Class')
                }));
            }
        }

        //custom events;
        let displayChangeEvent = new Event('displayChanged');

        //Event Handlers for custom events
        body.addEventListener('displayChanged', (event) => {
            pairNumInfo.textContent = imagePairs[displayPairNumber].pairNumber;
            let classifiedCount = imagePairs.filter((each) => each.classified == true).length;
            let remaining = imagePairs.length - classifiedCount;
            remainderInfo.textContent = `${remaining} out of ${imagePairs.length} remaining`;
            let percentage = 100*classifiedCount/imagePairs.length;
            progressBar.style.width = `${percentage}%`;
            if(imagePairs[displayPairNumber].classified) {
                selectionInfo.textContent = `Classified as ${imagePairs[displayPairNumber].class}`;
                selectionBox.classList.remove("red");
                selectionBox.classList.add("green");
                form.Class.value = imagePairs[displayPairNumber].class;
            }
            else {
                selectionInfo.textContent = "Not Classified";
                selectionBox.classList.remove("green");
                selectionBox.classList.add("red");
                form.reset();
            }
            preimgBox.innerHTML = `<img src="${imagePairs[displayPairNumber].preimg}">`;
            postimgBox.innerHTML = `<img src="${imagePairs[displayPairNumber].postimg}">`;
        });

        prevBtn.addEventListener('click', (event) => {
            //read form input and send XHR
            updateClass(displayPairNumber);
            //event dispatch and button controls
            nextBtn.removeAttribute('disabled');
            if(displayPairNumber == 0) {
                prevBtn.setAttribute('disabled',true);
            }
            else{
                displayPairNumber -= 1;
                body.dispatchEvent(displayChangeEvent);
            }
        });

        nextBtn.addEventListener('click', (event) => {
            //read form input and send XHR
            updateClass(displayPairNumber);
            //event dispatch and button controls
            prevBtn.removeAttribute('disabled');
            if(displayPairNumber == imagePairs.length && displayPairNumber !== 0) {
                nextBtn.setAttribute('disabled',true);
            }
            else{
                displayPairNumber += 1;
                body.dispatchEvent(displayChangeEvent);
            }
        });

        //Key Press event listeners
        document.addEventListener('keydown', (event) => {
            pressedKey = event.keyCode;
            //if 0 was pressed, select Not Flooded
            if(pressedKey == 96 || pressedKey == 48) {
                form.Class.value = "0";
            }
            //if 1 was pressed, select Flooded
            else if(pressedKey == 97 || pressedKey == 49) {
                form.Class.value = "1";
            }
            //if 2 was pressed, select Indecisive
            else if(pressedKey == 98 || pressedKey == 50) {
                form.Class.value = "2";
            }
            //if left arrow was pressed, trigger prevBtn.click()
            else if(pressedKey == 37) {
                prevBtn.click();
            }
            //if right arrow was pressed, trigger nextBtn.click()
            else if(pressedKey == 39) {
                nextBtn.click();
            }
        });

        //Download button event handler
        

        //send XHR to /<tiffName>/images and get the list of all the imagePairs
        let req = new XMLHttpRequest();
        req.open('GET',`/${tiffName}/images`,true);
        req.addEventListener('load',(event) => {
            imagePairs = JSON.parse(req.responseText);
            displayPairNumber = 0;
            body.dispatchEvent(displayChangeEvent);
        });
        req.send();
    </script>
</html>