body {
    background-color: beige;
}
h2 {
    display: inline;
}
.image-box {
    width: 50%;
    display: inline;
}

.classified {
    background-color: green;
    color: black;
}

.not-classified {
    background-color: crimson;
    color: white;
}

label {
    color: black;
    margin-left: 8%;
}
